MONGODB_URI=mongodb+srv://username:password@cluster0.w4z7p.mongodb.net/propertyplus?retryWrites=true&w=majority&appName=Cluster0
NEXT_PUBLIC_DOMAIN=http://localhost:3000
NEXT_PUBLIC_API_DOMAIN=http://localhost:3000/api
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_URL=
NEXTAUTH_URL_INTERNAL=
NEXTAUTH_SECRET=
CLOUDINARY_CLOUD_NAME=propertyplus
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=